body {
  font-family: Arial, sans-serif;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid black;
}

th {
  background-color: rgb(206, 206, 206);
  position: sticky;
  top: 0;
  z-index: 1;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr {
  border: 1px solid black;
}

td,
th {
  padding: 8px;
  text-align: left;
}

.action-links {
  display: flex;
  gap: 10px;
}

.action-links a {
  text-decoration: none;
  color: black;
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}

.action-links a:hover {
  background-color: black;
  color: #fff;
}

.add-button {
  background-color: rgb(134, 134, 134);
  color: white;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 4px;
  border: 1px solid black;
  cursor: pointer;
  z-index: 2;
}

.add-button:hover {
  background-color: rgb(123, 124, 125);
}

.pagination {
  margin: 20px 0;
  text-align: center;
}

.pagination a {
  text-decoration: none;
  color: black;
  padding: 8px 16px;
  border: 1px solid black;
  border-radius: 4px;
  margin: 0 2px;
  transition: background-color 0.3s, color 0.3s;
}

.pagination a:hover {
  background-color: black;
  color: #fff;
}

.pagination .active {
  background-color: black;
  color: #fff;
  border: 1px solid black;
}
.pagination .inactive {
  pointer-events: none; /* Désactive les interactions */
  color: #aaa; /* Couleur grisée */
  cursor: default; /* Curseur par défaut */
  opacity: 0.6; /* Opacité réduite */
  user-select: none; /* Empêche la sélection du texte */
}
.per-page-form {
  margin-bottom: 20px;
  text-align: center;
}

.page-form {
  display: inline-block;
  margin-left: 10px;
}

.page-form input[type="number"] {
  width: 50px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.page-form input[type="submit"] {
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 4px;
  background-color: rgb(134, 134, 134);
  color: white;
  cursor: pointer;
}

.page-form input[type="submit"]:hover {
  background-color: rgb(123, 124, 125);
}
